body{
    min-height: 611px;
    height: auto;
    max-width: 1500px;
    margin: auto;
        }
    .selectize-dropdown-content{
                 height: 1000px;
                 width: 1000px;
                 background-color: #6ab187;
                }
    .selectize-control .selectize-input {
                max-height: 100px;
                overflow-y: auto;
                # background: #6ab187;
                }

    .skin-blue .main-header .logo {
                              background-color: #20948B;
                              align: center;
                              }
    .skin-blue .main-header .navbar {
                              background-color: #6ab187;
    }

    .irs-bar { 
        background: #6ab187; 
    } 
    .irs-single { 
        background: #20948B; 
    } 
    .irs-from { 
        background: #20948B; 
    } 
    .irs-to { 
        background: #20948B; 
    } 
    .irs-bar-edge { 
        background: #20948B; 
    } 
    .myClass { 
            font-size: 13px;
            line-height: 50px;
            text-align: left;
            font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
            font-style: italic;
            padding: 20px;
            overflow: hidden;
            color: black;
    }

    .nav-tabs { background-color: #6ab187 }
    .nav-tabs-custom .nav-tabs li.active { border-top-color: #20948B; }